{% extends 'base.html.twig' %}

{% set data = detailsPost.data %}
{% set post = data.post %}
{% set author = data.author %}

{% block title %}Details of post {% if post and data %}{{ post.id }}{% endif %}{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% if post and data %}
            <h1>{{ post.title }}</h1>

            <p>{{ post.body }}</p>

            <h1>Author {{ author.name }}</h1>

            <p>Username: {{ author.username }}</p>
            <p>email: {{ author.email }}</p>
            <p>phone: {{ author.phone }}</p>
            <p>website: {{ author.website }}</p>

            <h1>Address</h1>

            <p>street: {{ author.address.street }}</p>
            <p>suite: {{ author.address.suite }}</p>
            <p>city: {{ author.address.city }}</p>
            <p>zipcode: {{ author.address.zipcode }}</p>
            

        {% else %}
                <h1>Post no encontrado </h1>   

                <p>{{ detailsPost.error }}</p>
        {% endif %}
        <a class="btn btn-danger" href="{{ path('app_post_index') }}">Back</a>
    </div>
{% endblock %}


